*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#f4f6f9;
}

/* LOGIN PAGE */

.login-body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:#1f2937;
}

.login-container{
    background:white;
    width:350px;
    padding:30px;
    border-radius:12px;
    text-align:center;
    box-shadow:0 0 15px rgba(0,0,0,0.3);
}

.logo{
    width:120px;
    margin-bottom:15px;
}

.login-container h1{
    font-size:22px;
    margin-bottom:20px;
    color:#111827;
}

.login-container input,
.login-container select{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:8px;
}

.login-container button{
    width:100%;
    padding:12px;
    border:none;
    background:#111827;
    color:white;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

.login-container button:hover{
    background:#374151;
}

.demo-box{
    margin-top:20px;
    background:#f3f4f6;
    padding:10px;
    border-radius:8px;
}

/* DASHBOARD */

.dashboard{
    display:flex;
    min-height:100vh;
}

.sidebar{
    width:250px;
    background:#111827;
    color:white;
    padding:20px;
}

.sidebar-logo{
    width:100px;
    display:block;
    margin:auto;
    margin-bottom:15px;
}

.sidebar h2{
    text-align:center;
    margin-bottom:30px;
}

.sidebar ul{
    list-style:none;
}

.sidebar ul li{
    padding:15px;
    margin-bottom:10px;
    background:#1f2937;
    border-radius:8px;
    cursor:pointer;
}

.sidebar ul li:hover{
    background:#374151;
}

.main-content{
    flex:1;
    padding:20px;
}

.topbar{
    margin-bottom:20px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
    margin-bottom:30px;
}

.card{
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.failed-card{
    background:#fee2e2;
    color:#b91c1c;
}

.table-section{
    background:white;
    padding:20px;
    border-radius:12px;
    overflow-x:auto;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.table-section h2{
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

table th,
table td{
    border:1px solid #ddd;
    padding:12px;
    text-align:center;
}

table th{
    background:#111827;
    color:white;
}

.failed-row{
    background:#fee2e2;
    color:#b91c1c;
}

.leaderboard{
    margin-top:30px;
    background:white;
    padding:20px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.leaderboard ol{
    margin-left:20px;
    margin-top:10px;
}

@media(max-width:768px){
    .dashboard{
        flex-direction:column;
    }

    .sidebar{
        width:100%;
    }
}
